$pink1:#F16D7F;
$pink2: #E05C6E;
$pink3: #F8F3F4;
$pink4: #F1E4E6;
$black1: #222222;
$back2:#222224;
$black3:#000000;
$grey1:#9F9F9F;
$grey2:#6F6E6E;
$grey3: #636363;
$grey4: #4D4D4D;
$grey5: #A4A4A4;
$grey6:  #4A4A4A;
$white1: #FFFFFF;
$white2: #FFF;
$white3: #FBFBFB;
$white4: #EBEBEB;
$white5: #F7F7F7;
$white6: #EAEAEA;

@mixin fonts {
    font-family: lato;
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
}

a {
    text-decoration: none;
    color: $black1;
  }
  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
  
  .header {
    background-color: $black1;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &__search {
        margin-left: 41px;
   }
     &__right img:not(:last-child) {
     margin-right: 33px;
    }
    .drop {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        min-height: 500px;
        top: 70px;
        left: 0px;
        right: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        display: none;
    }
    .nav-tion {
        background-color:$white1;
        width: 230px;
        min-height: 764px;
        position: relative;
        padding: 20px;
    }
    .icon-close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #menu:checked ~ .drop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    #menu {
        display: none;
    }
    .nav-title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $black1;
    }
    .nav-heading {
        @include fonts;
        font-size: 14px;
        line-height: 17px;
        color: $pink1;
    }
    .list_s, .nav-link {
        list-style: none;
        text-decoration: none;
        @include fonts;
        font-size: 14px;
        line-height: 17px;
        color: $grey2;
    } 
    .drop__menu {
        padding-right: 33px;
    }
  }
  
  .promo {
    background: $pink4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    &__img {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__photo {
        width: 100%;
    }
    &__text {
        width: 50%;
    }
    &__content {
        margin-top: 40%;
        border-left: 12px solid $pink1;
        padding-left: 16px;
    }
    &__heading {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $black1;
        margin-bottom: -15px;
    }
    &__info {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: $black1;
    }
    &__select {
        color: $pink1;
    } 
  }

  .categories {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
    .categories .women {
        background-image: url("images/for\ women.png");
    }
    .categories .men {
        background-image: url("images/for men.png");
    }
    .categories .kids {
        background-image: url("images/for kids.png");
    }
    .categories .items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 260px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    }
    .categories .categories:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .categories .span-item1 {
        color:$white1;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .categories .span-item2 {
        color: $pink1;
        font-family: Lato;
        font-size: 24px;
    }
    .categories .items-acces {
        width: 100%;
        min-height: 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url(images/ACCESORIES.png);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
    }
 
  .product-box {
    padding-bottom: 66px;
    &_ttl {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        color:$black1;
        text-align: center;
    }
    &_sbtl {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color:$grey1;
        text-align: center;
    }
    &_content {
        padding-top: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .products {
        width: 360px;
        background: $white1;
        margin-bottom: 30px;
        position: relative;
        &_img {
            width: 100%;
        }
        &_content {
            padding: 24px 16px 20px;
        }
        &_name {
            @include fonts;
            font-size: 13px;
            line-height: 16px;
            color: $black3;
        }
        &_text {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $grey2;
            margin-top: 12px;
            margin-bottom: 18px;
        }
        &_price {
            @include fonts;
            font-size: 16px;
            line-height: 19px;
            color:$pink1;
        }
        &:hover .products_img {
            -webkit-filter: brightness(50%);
            filter: brightness(50%);
        }
        &:hover .products_add {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        &_add {
            display: none;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 139px;
            height: 44px;
            border: 1px solid $white2;
            @include fonts;
            font-size: 14px;
            line-height: 17px;
            position: absolute;
            top: 188px;
            left: 111px;
            color: $white1;
        }
        .product-box .product__add:hover {
            -webkit-box-shadow: 0 0 5px $white2;
            box-shadow: 0 0 5px $white2;
        }
          
          
          
    }
      
  }
  .advt-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background-color: $black1;
    height: 341px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .advt-subtitle {
        @include fonts;
        font-size: 13px;
        line-height: 17px;
        color: $white3;
        text-align: center;
    }
    .advt-title {
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: $white3;
    }
    
  }
  .subscribe {
    height: 448px;
    background: url(images/sbsr.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    &__left {
        padding-top: 97px;
        text-align: center;
    }
    &__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    &__button {
        width: 100px;
        height: 49px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border: none;
        outline: none;
        @include fonts;
        font-size: 14px;
        line-height: 17px;
        background:$pink1;
        color: $white1;
    }
    &__input {
        width: 322px;
        height: 49px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        border: none;
        outline: none;
        background: $white1;
        padding-left: 16px;
    }
    &__heading {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: -4px;
    }
    &__promotion {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }
    &__button:hover {
        background: $pink1;
    }
      
  }
  .footer {
     color:  $black1;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &-left {
        color: $white3;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
    .social-link {
        color: $white2;
        font-size: 32px;
        margin: 0 4px;
    }
   .social-link:hover {
        color: $pink1;
    }
  }
  
  .page-info {
    height: 148px;
    background-color: $pink3;
    display: flex;
    justify-content: space-between;
    .page-info-title {
        margin-top: 59px;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $pink1;
    }
    .registration__blocks {
        display: flex;
        justify-content: s;
    }
    
    .breadcrumb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 64px;
        &-link {
            @include fonts;
            font-size: 14px;
            line-height: 17px;
            color: $grey3;
        }
        .breadcrumb-link:hover {
            color: $pink1;
        }
        .breadcrumb-link:last-child {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: $pink1;
        }
        .breadcrumb-link:not(:last-child)::after {
            content: '/';
            margin-left: 8px;
            margin-right: 8px;
          }
      }
  }
  
  .sort-box {
    padding-top: 51px;
    padding-bottom: 64px;
    .sort-box_filter {
        position: relative;
      }
      
      .filter {
        position: absolute;
        z-index: 1;
        &-img {
            margin-left: 11px;
        }
        &-name {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color:$black1;
        }
        &-category {
            padding-left: 11px;
            @include fonts;
            font-size: 14px;
            line-height: 17px;
            color: $pink1;
            height: 37px;
            line-height: 37px;
            border-left: 5px solid $pink1;
        }
        &-ul {
            list-style-type: none;
            padding-top: 36px;
            padding-left: 11px;
        }
        &-link {
            @include fonts;
            font-size: 14px;
            line-height: 17px;
            color: $grey2;
        }
        .filter-link:hover {
            color: $pink1;
        }
      }
      .filter[open] {
        width: 360px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: $white1;
        -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    summary {
        display: block;
        outline: none;
    }
      
      summary::-webkit-details-marker {
        display: none;
    }
  }

  .selecting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &-size {
        position: absolute;
        z-index: 1;
        background-color:$white1;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 8px 30px 8px 8px;
    }
    &-summary {
        position: relative;
        margin-left: 10px;
    }
    &-arrow {
        margin-left: 10px;
        margin-right: 10px;
    }
  }
  .pagination {
      display: flex;
      justify-content: center;
      margin-top: 48px;
      margin-bottom: 96px;
    &-block {
        display: flex;
        justify-content: center;
        width: 284px;
        height: 44px;
        border: 1px solid $white4;
        width: 284px;
        height: 44px;
        align-items: center;
        justify-content: center;
    }
    &-list {
        padding: 5px;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        color:  $white4;

    }
  }

   .pagination-list:hover {
      color: $pink2;
  }

  .slider {
    min-height: 724px;
    background-color: $white5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
     &-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50px;
    } 
    &-btn {
        border: none;
        width: 47px;
        height: 47px;
    }      
}
.slider-btn:hover {
    color: $pink2;
}

.extra_block-content  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $white1;
    border: 1px solid $white6;
    margin-top: -50px;
    margin-bottom: 128px;
    min-height: 601px;
    .extra_block-name {
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color:$pink1;
    }
    .extra_block-line {
        border: 3px solid;
        color: $pink1;
        background-color: $pink1;
        width: 63px;
        height: 2.5 px;
    }
    .extra_block-title {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $grey4;
    }
    .extra_block-subtitle {
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 0px;
        letter-spacing: 0em;
        text-align: center;
        color: $grey2;
    }
    .extra_block-price {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color:$pink1;
        margin-bottom: 34px;
    }
    .extra_block-dline {
        border: 1px solid;
        color: $white6;
        width: 302px;
        margin-bottom: 34px;
    }
    .add-cart {
        width: 221px;
        height: 48px;
        border: 1px solid $pink1;
        margin-top: 48px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .add-cart-bttn {
        padding-top: 10px;
        padding-bottom: 14px;
       color: $pink1;
    }
}

summary {
    display: block;
    outline: none;
}
summary::-webkit-details-marker {
    display: none;
}

.carts_block {
    display: flex;
    justify-content: space-between;
    .left_block {
        display: flex;
        width: 652px;
        height: 306px;
        background-color: $white1;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        margin-bottom: 40px;
        position: relative;
        margin-top: 96px;
        &_cart {
            margin-left: 31px;
        }
        &_title {
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color:$black1;
        }
        &_rest {
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 0.5;
            letter-spacing: 0em;
            text-align: left;
            color:$grey3;
        }
        .quant {
            width: 44px;
            height: 23px;
            margin-left: 24px;
        }
        .close {
            position: absolute;
            margin-left: 315px;
            margin-top: 25px;
        }
        .prc {
            color: $pink2;
        }
        .right_block_title {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color:$grey5;;
        }
    }
}

.right_block_shpn {
    margin-top: 118px;
    .shpn_block_line {
        width: 360px;
        height: 45px;
        margin-bottom: 20px;
        padding-left: 17px;
        padding-right: 10px;
    }
    .shpn_block_quote {
        width: 102px;
        height: 35px;
        background-color: $white1;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color:$grey6;
        border: 1px solid $grey6;
        text-align: center;
    }
    .block_total {
        width: 360px;
        height: 214px;
        background-color: $white5;
        margin-top: 45px;
    }
    .block_total_sub{
        display: flex;
        justify-content: space-evenly;
        margin-left: 150px;
        padding-top: 39px;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
    .block_total_grand {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        margin-left: 100px;
    }
    
    .block_total_grand {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        margin-left: 100px;
    }
    
    .block_total_grand {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        margin-left: 100px;
    }
    
    .block_total_grandt {
        color: $pink1;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
       margin-bottom: 21px;
    }
    .block_total_shape {
        border:0.3px solid $white6;
        width: 275px;
    } 
    .block_total_check {
        width: 273px;
        height: 50px;
        margin-left: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $pink1;
        color: $white1;
        border: none;
        margin-top: 15px;
    }
    .registration__blocks {
        display: flex;
        justify-content: space-between;
        .registration__title {
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color:$black1; 
            margin-top: 64px;
        }
        .registration__line {
            width: 360px;
            height: 45px;
            margin-bottom: 10px;
            padding: 8px;
        }
        .login__title {
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $black1;
            margin-bottom: 20px;
            margin-top: 33px;
        }
        .login__row {
            width: 360px;
            height: 45px;
            padding: 8px;
            margin-top: 20px;
        }
        .login__pass {
            font-family: Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $grey1;
        }
        .login__button {
            width: 167px;
            height: 50px;
            background-color: $pink1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 96px;
            margin-top: 39px;
        }
        .join {
            color:$white1;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }
        
        .fas {
            width: 17px;
            padding-left: 20px; 
        }
        .check_title {
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: $black1;
            margin-top: 64px;
        }
        .check_describe {
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: $black1;
        }
        .offers_list {
            list-style: none;
            margin-top: 21px;
        }
        .list__text  {
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: $black1;
        }
        .check__img {
            width: 20px;
            height: 16px;
            font-size: 20px;
            color:$black1;
            margin-right: 22px;
            line-height: 3px;
        }  
          
    }
    
}
.block_btn {
    display: flex;
    justify-content: space-between;
}
.block_continue {
    width: 235px;
    height: 50px;
    background-color: $white1;
    border: 1px  $grey5 solid;
    transition-duration: 1c;
    margin-bottom: 128px;
}

.block_continue:hover {
    background: $pink2;
    border: none;
}
.registration__blocks {
    display: flex;
    justify-content: space-between;
    .registration__title{
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color:$black1;
                
    }
    .registration__line{
        width: 360px;
        height: 45px;
        margin-bottom: 20px;
    }
    .login__title {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color:$black1;
    }
    .login__row {
        width: 360px;
        height: 45px;
        margin-bottom: 20px;
    }
    .login__pass {
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: $grey5;
    }
    .login__button {
        width: 167px;
        height: 40px;
        background-color: $pink1;
        margin-bottom: 96px;
        margin-top: 40px;
        padding-top: 16px;
      

    }
    .join {
        color: $white1;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        padding-left: 29px;
    
    }
    .fas {
        margin-left: 20px;
    }
    .check_title {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .check_describe {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .list__text {
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        text-align: left;
        margin-left: 20px;
    }
    .offers_list {
        margin-top: 20px;
    }
}


/* tablet */
@media (min-width: 760px) and  (max-width: 1180px) {
    
    .subscribe  {
        display: flex;
        flex-direction: column;
        padding-bottom: 140px;
    }

    .products {
        padding-right: 16px;
    }
    .product-box_content {
        justify-content: center;
    }
    .carts_block {
        flex-direction: column;
    }
    .all_right {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .block_btn {
        justify-content: center;
    }
    .right_block_shpn {
        margin-left: 15px;
    }
    .all_right {
        padding-bottom: 146px;
    }
    .advt-logos {
        flex-direction: column;
        padding-top: 50px;
        height: 610px;
    }
    .promo__text {
        padding-left: 80px;
    }
    .registration__blocks {
        justify-content: space-evenly;
        margin-top: 40px;
    }
    .close {
        margin-left: 280px;
    }
    .block_btn {
        justify-content: space-evenly;
    }
    
}
  /*mobile*/
    @media (min-width: 320px) and (max-width: 600px) {
    .center {
        width: 400px;;
    }
    .slider-img {
        width: 320px;
    }
    .page-info {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 46px;
    }
    .subscribe {
        flex-direction: column;
        padding-bottom: 109px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        padding-bottom: 26px;
    }
    .extra_block-subtitle {
        font-size: 14px;
    }
    .selecting-details {
        font-size: 10px;
    }
    .registration__blocks {
        flex-direction: column;
        padding-left: 10px;
    }
    .check_title {
        font-size: 16px;
    }
    .check_describe {
        font-size: 16px;
    }
   .offers_list {
       font-size: 16px;
   }
   .right-side {
       margin-bottom: 109px;
   }
   .categories {
       flex-direction: column;
   }
   .promo__img {
       visibility: hidden;
   }
   .promo__heading {
       font-size: 37px;
   }
   .promo__info {
       font-size: 24px;
   }
   .promo__select {
       font-size: 24px;
   }
   .promo {
       width: 400px;
   }
   
  
    
}
 
 
  
 
  
 
  
 



 
 
  
 
  
 
  
 


